---
import Base from '../../layouts/Base.astro';
import BriefSLANSSResult from '../../components/BriefSLANSSResults.svelte';
---
<Base title="briefSLANSS · Results" description="briefSLANSS — results" wide>
  <h1>Results</h1>
  <BriefSLANSSResult client:only="svelte" />
</Base>
