---
import Base from '../../layouts/Base.astro';
import FreBAQResult from '../../components/FreBAQResults.svelte';
---
<Base title="FreBAQ · Results" description="FreBAQ — results" wide>
  <h1>Results</h1>
  <FreBAQResult client:only="svelte" />
</Base>
