---
import Base from '../../layouts/Base.astro';
import PHQ4Result from '../../components/PHQ4Results.svelte';
---
<Base title="phq4 · Results" description="PHQ4 — results" wide>
  <h1>Results</h1>
  <PHQ4Result client:only="svelte" />
</Base>
